*.zip binary
*.xlsx binary
*.pdf binary
*.png binary
*.rar binary
*.cad binary
*.step binary
*.xml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.gbr text eol=lf
*.gbrjob text eol=lf
*.drl text eol=lf
*.kicad_pcb text eol=lf
*.kicad_sch text eol=lf
*.kicad_pro text eol=lf
*.kicad_prl text eol=lf
